:root{
  --bg:#0f172a;
  --text:#e2e8f0;
  --primary:#3b82f6;

  --panel: rgba(255,255,255,0.03);
  --border: rgba(255,255,255,0.06);
  --input: rgba(255,255,255,0.04);

  --transition: 0.25s ease;
}

/* Tema claro */
body.light{
  --bg:#f1f5f9;
  --text:#0f172a;
  --primary:#2563eb;

  --panel: rgba(15,23,42,0.04);
  --border: rgba(15,23,42,0.10);
  --input: rgba(15,23,42,0.06);
}
